.nav-link {
    font-weight: 500;
    color: white;
}

.nav-link:hover {
    color: red;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.header{
    background-image: url("../image/page2header.png");
    background-size: 100% 85%;
    background-position: top center;
    background-repeat: no-repeat;
}

.section1 {
  height: 460px;
  display: flex;
  justify-content: center;        
  align-items: center;            
  position: relative;       
}


.contact-cards{
  position: absolute;
  left: 50%;
  top: 85%; 
  transform: translate(-50%, -50%); 
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  z-index: 2;
}

.cards-wrapper{
  width: 100%;
  max-width: 1100px;
  display: flex;
  gap: 24px;
  justify-content: space-between;
  align-items: center;
}

.info-card{
  background: #fff;
  border-radius: 18px;
  padding: 18px 22px;
  display: flex;
  align-items: center;
  min-width: 260px;
  box-shadow: 0 10px 20px rgba(3, 8, 17, 0.08);
}



.card-title{font-weight:700; color:#222; font-size:16px}
.card-subtitle{color:#6c6c6c; font-size:14px}

@media (max-width: 767px){
  .cards-wrapper{flex-direction: column; gap: 16px; align-items: center}
  .info-card{min-width: auto; width: 92%;}
  .contact-cards{top: 120%; transform: translate(-50%, -50%);} 
  .section1{height: 560px}
}

.form span{
    color: red;
    cursor: pointer;
}

.form{
    padding: 100px;
}


@media (max-width: 767px){
    .form{
        margin-top: 290px;
        padding: 50px 20px;
    }
}

.accordion-button{
  position: relative;
  padding-right: 2.5rem; 
}

.accordion-button::after{

  background-image: none !important;
  display: block;
  content: '+';
  font-size: 1.25rem;
  font-weight: 700;
  color: #ff3b6b;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}


.accordion-button:not(.collapsed)::after{
  content: '−'; 
  color: #ff3b6b;
}


.question-section p{
    color: red;
    font-weight: 600;
    font-size: 22px;
    font-style: regular;
    font-family: 'figtree', sans-serif;
}



.accordion-button:not(.collapsed) {
    color: red;
    background: none;
}

.accordion-button.collapsed {
    color: #212529;
    border-bottom: 1px solid #dee2e6; 
}


.section5BGIMG{
    background-image: url('../image/section5BG.png');
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    color: white; 
    font-size: 30px;
    font-weight: 600;
    font-family: 'Figtree', sans-serif;
}

ul li a {
    color: black;
    text-decoration: none; 
}